.wikiBody {
	float: right;	
	padding: 10px 10px 20px 20px;
  width: 750px;
  background: white;
	font-size: 14px;
}

.wikiCategoryBar {
	border-bottom: 2px solid green;
	margin: 0px 0px 10px 0px;
}

.wikiCategoryBar h3 {
	font-size: 12px;
	margin: -13px 0px 2px 0px;
	padding: 0px;
	font-weight: normal;
}

.wikiLinks {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 110px;
	background: #6ac857;
	overflow:auto;
	font-size: 12px;
}

.wikiLinks ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	border: none;
}

.wikiLinks li {
	font-size: 10pt;
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	border: 0px;
}
